.border{
border-radius: 10px;
border-color: black;
border-style: solid;
width: min-content;
}
.score-overflow{
    overflow: scroll;
}
.score-div{
    height: 70px;
    width: 200;
}
.bg-grad3 {
background-color: #081547;}

body{
    background-image: url(../public/images/doodles.jpeg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    font-family: 'Amatic SC', cursive;
}

@media screen and (max-width: 2000px) {
  .width-vw{
    width: 70vw;
  }
  .button-size{
    width: 50%;
  }
  .vl{
    width: 0;
    border-right: 2px solid rgb(255, 255, 255);
}
.main-flex{
  flex-direction: row;
    justify-content: space-evenly;
}
.text-large{
  font-size: 10vw;
}
.text-medium-large{
  font-size: 5vw;
}
.text-medium{
  font-size: 3vw;
}
.margin-center{
  margin-top: 20vw;
}
.flex-media{
  flex-direction: row;
}

}
@media screen and (max-width: 900px) {
  .width-vw{
    width: 100vw;
  }
  .button-size{
    width: 50%;
  }
  .vl{
    width: 40vw;
    height: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px  rgb(255, 255, 255)
  }
  .main-flex{
    flex-direction: column;
    align-items: center;
  }
  .text-large{
    font-size: 20vw;
  }
  .text-medium-large{
    font-size: 15vw;
  }
  .text-medium{
    font-size: 10vw;
  }
  .margin-center{
    margin-top: 0px;
  }
  .flex-media{
    flex-direction: column-reverse;
  }
}



body, #root, html{
    height: 100%;
}
.margin-auto{
    margin:auto;
}
.footer-filler{
  height: 75px;
  position: static;
  bottom: 0;
}
footer{
    width: 100%;
    background-color: rgb(254, 254, 254);
position: fixed;
bottom: 0;
}
footer div{
    position: fixed;
    right: 0
}
.score-footer{
    width: 100px;
    height: 50px;
    background-color: #081547;
    border-style: solid;
    border-radius: 10px;
}
  .main-margin{
    margin: auto;
    padding: 20px;
    margin-bottom: 100px; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.498) 0px 5px 15px;
    background-color: #401e9e
  }
 
  .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

.height150px{
    height: 150px; 
}
.space-between{
  justify-content: space-between;
}
.margin-right{
margin-right: 10px;
}
.width-p{
width: 30%;
}
.flex-grow{
    flex-grow: 2;
}

.footer-gap{
gap: 100%;
}

.join-button{
margin-top: 10px;
}
.margin-bottom{
    margin-bottom: 20px;
}
.padding-top{
    padding-top: 30px;
}
.padding-inherit{
  padding: inherit;
}
.padding-large{
  padding: 1vw;
}
.padding-scale{
  padding:5vw
}
.gap{
  gap: 3vw;
}

.space-evenly{
justify-content: space-evenly;
}
.bg-blue{
    background-color: #401e9e
}
.top-border{
  border-top: black solid 3px;
}

html, body {margin: 0; height: 100%;}

.margin-top-small{
  margin-top: 15px;
}
.sketch{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.498) 0px 5px 15px;
}

.padding-small{
  padding: 15px;
}

.progressbar{
	position: relative;
	overflow: hidden;
	height: 5px;
	background-color: #eee;
}

.scale-in-hor-center{animation:scale-in-hor-center .5s cubic-bezier(.25,.46,.45,.94) both}
.text-focus-in{animation:text-focus-in .5s cubic-bezier(.55,.085,.68,.53) both}
.slide-in-right{-webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
.tracking-in-expand{animation:tracking-in-expand .9s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}